     .bodyofaddetails{
        display: flex;
        align-items: center;
        height:100%;
        /* position: absolute; */
        justify-content: flex-end;
        background-color: rgba(173, 172, 172, 0.7); /* set the background color with alpha value of 0.5 (50% opacity) */
      }
      .ad_details_con {
        margin-top: 5px;
        height: 700px;
        width: 76%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        overflow: auto;
        background-color: white;
        margin-left: 40px;
      }
      .ad_details_con i {
        font-size: 35px;
        margin-left: 25px;
      }
      .ad_details_con2 {
        width: 94%;
        height: 1025px;
        margin: auto;
        margin-top: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 25px;
      }
      .ad_con1 {
        width: 64%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
      }
      .ad_con2 {
        width: 34%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .price_con2 {
        width: 100%;
        height: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        border: 1px solid rgb(196, 196, 196);
      }
      .price_con2 i {
        font-size: 19px;
      }
      .lil_con {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
      }
      .iconn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        height: 70%;
      }
      .iconn i {
        margin-left: 0;
        color: black;
      }
      .conn1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 50%;
        width: 90%;
      }
      .lil_con #adt {
        font-size: 17px;
        opacity: 0.7;
      }
      .lil_con #pr {
        font-size: 25px;
        font-weight: 700;
      }
      .conn2 {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 30%;
        width: 90%;
        font-size: 13px;
        opacity: 0.7;
      }
      .sell_des_con {
        border-radius: 5px;
        border: 1px solid rgb(196, 196, 196);
        width: 100%;
        height: 38%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
      }
      .sell_des_con button {
        font-size: 16px;
        font-weight: 600;
        padding: 6px 20px;
        width: 90%;
        border: none;
        border-radius: 20px;
        background-color: black;
        color: white;
      }
      .sell_des_con button i {
        font-size: 16px;
      }
      .sel_dp {
        height: 100%;
        width: 28%;
        border-radius: 50px;
      }
      .sel_info {
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: space-between;
      }
      .buy_now {
        width: 100%;
        height: 13%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .buy_now button {
        font-size: 19px;
        font-weight: 600;
        padding: 12px 20px;
        width: 100%;
        border: none;
        border-radius: 50px;
        background-color: #212529;
        color: white;
      }
      .ad_details_con button {
        transition: 0.2s ease-in-out;
      }
      .ad_details_con button:hover {
        opacity: 0.5;
      }
      .posted {
        border-radius: 5px;
        border: 1px solid rgb(196, 196, 196);
        width: 100%;
        height: 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
      .ad_images_con {
        width: 100%;
        height: 35%;
        border-radius: 6px;
      }
      .ad_des_con {
        border-radius: 5px;
        border: 1px solid rgb(196, 196, 196);
        min-height: 27%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .ad_des_con2 {
        width: 93%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      .ad_des_con2 p {
        height: 52%;
        font-size: 13.5px;
        margin-top: 10px;
      }

      .ad_des_con2 span {
        font-size: 19px;
        font-weight: 600;
      }
      .price_det {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .ad_des_con2 hr {
        width: 100%;
        height: 2px;
        background-color: black;
      }
      .price_det span {
        font-size: 14px;
        font-weight: 400;
      }
      .related_con {
        border-radius: 5px;
        border: 1px solid rgb(196, 196, 196);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 35%;
        width: 100%;
      }
      .related_con span {
        width: 93%;
        text-align: start;
        font-size: 19px;
        font-weight: 600;
      }
      .ad_cards {
        display: flex;
        align-items: center;
        column-gap: 10px;
        height: 80%;
        width: 93%;
        overflow-x: scroll;
        justify-content: space-between;
      }
      .ad_images_con img {
        height: 360px;
        border-radius: 6px;
      }
      .ad_cards .card {
        /* background-color: aquamarine; */
        border: 2px solid rgb(196, 196, 196);
        border-right: 2px solid rgb(196, 196, 196);
        width: 200px;
        height: 95%;
        flex-shrink: 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .card .ad_img {
        width: 100%;
        height: 55%;
      }
      .card .ad_img img {
        width: 100%;
        height: 100%;
      }
      .card .ad_titleLike {
        height: 18%;
        width: 90%;
      }
      .ad_titleLike {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .ad_titleLike i {
        font-size: 23px;
        margin-right: 10px;
      }
      .ad_titleLike span {
        opacity: 0.9;
      }
      .card .ad_price_rel {
        height: 18%;
        width: 90%;
        font-size: 22px;
        font-weight: 700;
      }
      .card .ad_location {
        width: 90%;
        height: 9%;
        font-size: 12px;
        opacity: 0.7;
      }
      .ad_cards::-webkit-scrollbar {
        width: 6px;
        display: none;
      }
      .ad_details_con i:hover {
        cursor: pointer;
      }

      /* Track */
      .ad_cards::-webkit-scrollbar-track {
        background: #e7e5e5;
        border-radius: 15px;
      }

      /* Handle */
      .ad_cards ::-webkit-scrollbar-thumb {
        background: rgb(204, 201, 201);
      }
      @media (max-width: 1195px) {
        .ad_details_con {
          width: 100%;
          border-radius: 0;
        }
        .ad_details_con2 {
          height: 1250px;
        }
        .ad_images_con img {
          height: 440px;
        }
      }
      @media (max-width: 930px) {
        .ad_details_con2 {
          height: 1000px;
        }
        .ad_images_con img {
          height: 350px;
        }
      }
      @media (max-width: 866px) {
        .ad_des_con2 p {
          height: 52%;
          font-size: 12px;
          margin-top: 0;
        }
      }
      @media (max-width: 820px) {
        .ad_details_con2 {
          height: 1700px;
          flex-direction: column;
        }
        .ad_details_con {
          height: 1200px;
        }
        .ad_con1 {
          width: 100%;
        }
        .ad_des_con2 p {
          font-size: 13.5px;
          margin-top: 10px;
        }
        .ad_con2 {
          margin-top: 15px;
          width: 100%;
          /* height: 70%; */
        }
        .ad_images_con img {
          height: 400px;
        }
        .sell_des_con {
          height: 50%;
          margin-top: 15px;
        }
        .iconn {
          width: 10%;
        }
        .sel_dp {
          width: 25%;
        }
        .sel_info {
          width: 45%;
        }
        .sell_des_con button {
          padding: 8px 0;
        }
      }
      @media (max-width: 590px) {
        .sel_dp {
          width: 25%;
        }
        .sel_info {
          width: 55%;
        }
      }
      @media (max-width: 510px) {
        .sel_info {
          width: 65%;
        }
        .iconn {
          width: 15%;
        }
      }
      @media (max-width: 480px) {
        .ad_des_con2 p {
          font-size: 12px;
          margin-top: 10px;
        }
      }
      @media (max-width: 411px) {
        .sel_info {
          width: 75%;
        }
      }
      @media (max-width: 384px) {
        .ad_des_con2 p {
          font-size: 11px;
          margin-top: 10px;
        }
        .sel_info {
          width: 85%;
        }
      }