    body {
      margin: 0;
    }
    * {
      font-family: "Montserrat", sans-serif;
    }
    .home_navbar {
      background-color: #e1e1e6;
      height: 60px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* position: relative;
      bottom: 15px; */
      margin: 0px;
    }
    .home_navlinks {
      width: 650px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .home_container {
      background-color: rgb(157, 157, 223);
      margin: 0px;
      height: 600px;
      width: 100%;
      box-shadow: 0px 9px 12px rgb(26, 26, 255);

    }

    button {
      padding: 10px 18px;
      background-color: rgb(26, 26, 255);
      color: white;
      border: none;
      margin-right: 35px;
      border-radius: 7px;
      transition: 0.3s ease-in-out;
    }
   
    button:hover {
      cursor: pointer;
    }
    .home_navs {
      font-size: 14px;
      color: black;
      transition: 0.3s ease-in-out;
    }
    .home_navs:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    .home_title {
      font-size: 22px;
      font-weight: 600;
      margin-left: 10px;
      color: #f76b40;
    }
    .home_con {
      height: 510px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .home_text {
      height: 500px;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
    }
    .home_image {
      height: 540px;
      width: 890px;
     
    }
    img {
      height: 100%;
      width: 100%;
    }
    h1 {
      margin-top: 90px;
      font-size: 29px;
      width: 390px;
    }
    h2 {
      font-size: 17px;
      color: rgb(255, 255, 255);
      width: 390px;
      margin-bottom: 25px;
    }
    .home_btn2 {
      padding: 18px 38px;
      font-size: 20px;
      margin-right: 200px;
    }
    .home_btn2:hover {
      opacity: 0.8;
    }
    @media (max-width: 1156px) {
      .home_text {
        margin-left: 20px;
      }
    }
    @media (max-width: 940px) {
      .home_title {
        font-size: 20px;
      }
      .home_btn2 {
        padding: 15px 33px;
        font-size: 20px;
        margin-right: 200px;
      }
      .home_navlinks {
        width: 450px;
      }
    }
    @media (max-width: 774px) {
      /* .home_image {
        display: none;
      } */
      .home_con {
        flex-direction: column-reverse;
      }
      .home_image {
        height: 360px;
        width: 560px;
      }
    }
    @media (max-width: 768px) {
      .home_navlinks {
        width: 430px;
      }
      .home_image {
        position: relative;
        top: 250px;
      }
      .home_text {
        position: relative;
        top: 240px;
      }
      h1 {
        font-size: 29px;
        width: 560px;
      }
      h2 {
        font-size: 20px;
        width: 560px;
      }
      .home_btn2 {
        position: relative;
        left: 70px;
        top: 20px;
      }
    }
    @media (max-width: 400px) {
      .home_navbar {
        flex-direction: column;
        height: 200px;
        width: 470px;
      }
      .home_navlinks {
        flex-direction: column;
        height: 140px;
        position: relative;
        bottom: 10px;
        right: 30px;
      }
      .home_btn1 {
        display: none;
      }
      .home_title {
        position: relative;
        right: 35px;
      }
      .home_image {
        width: 470px;
        left: 70px;
      }
      .home_text {
        left: 60px;
      }
      h1 {
        font-size: 29px;
        width: 480px;
      }
      h2 {
        font-size: 20px;
        width: 480px;
      }
    }




.hr{

  font-weight: 300;
  border: 1.5px solid black;
  margin: 60px;
  margin-left: 120px;
  margin-right: 120px;

}
.laptop_service{
  margin: 0px;
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
background-color: rgb(245, 244, 244);
padding-bottom: 70px;
}
.twoText{
margin-top: 30px ;
text-align: center;
width: 90%;
height: 30%;
}
.twoOne{
  font-size: 30px;
}
.twoTwo{
  font-size:20px ;
  color: #4b4b4b;
}

.twoImage{
  margin-top: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.twoImage .img{
  width: 19%;
  height: 45%;
  margin: 10px;
}
.twoImage .img p{
 text-align: center;
 color: black;
 font-weight: 600;
}
.twoImage .img img{
  border-radius: 10px;
 }


.join{
  margin: 0px;
  padding: 30px;
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
background-color: rgb(245, 244, 244);


}
.join h1{
  width: 100%;
  text-align: center;
}
.joinBox{
  width: 80%;
  height: 80%;
  border-radius: 6%;
  display: flex;
  justify-content: center;
}
.joinSp{
  width:40% ;
  height:70%;
  margin: 2%;
  text-align: center;
  border-radius: 6%;
  border: 0.5px solid rgba(211, 205, 205, 0.788);
  box-shadow: rgba(7, 94, 255, 0.486) 0px 2px 8px 0px;
  padding: 1%;

}
.joinUser{
  width: 40%;
  height: 70%;
  margin:2%;
  text-align: center;
  border-radius: 6%;
  border: 0.5px solid rgba(211, 205, 205, 0.788);
  box-shadow: rgba(7, 94, 255, 0.486) 0px 2px 8px 0px;
  padding: 1%;


}
.joinUser img{
  height: 529px;

}

.hr2{
  margin: 0px;

}